<template name="leagues">
{{> navbar}}
{{#if teamincomplete}}
<div class="alert alert-warning" role="alert">
  <strong>Warning!</strong> Your team is incomplete. You need 5 people!
</div>
{{/if}}
<div class="container">
<div class="row">



<div class="col-md-12" style="padding-top:3em;">
<h2>Leagues</h2>
<p>A league is a group of teams that compete every week for points.</p>
<a class="btn btn-success" href="{{pathFor route='leaguesCreate'}}">Create a League</a>
<a class="btn btn-secondary" href="{{pathFor route='joinleague'}}">Join a League</a>

</div>
</div>

<div class="row" style="margin-top:3em;">
<div class="col-md-6">
<h3>Your Leagues</h3>
<p>These are the leagues you're in.</p>
	<table class="table table-hover">
		<thead>
    		<tr>
    		<th>League Name</th>
    		<th>Number of Teams</th>
    		<th>Public</th>
    		</tr>
    		</thead>
    		<tbody>
    		{{#each myleagues}}
			    <tr id="myleagues">
			      <td>{{leaguename}}</td>
			      <td>{{players.length}}</td>
			      <td>{{public}}</td>
			    </tr>
			    {{/each}}
    		</tbody>
	</table>



</div>

<div class="col-md-6">
<h3>Public Leagues</h3>
<p>These are the newest public leagues created.</p>
<table class="table table-hover">
		<thead>
    		<tr>
    		<th>League Name</th>
    		<th>Number of Teams</th>
    		<th>Public</th>
    		</tr>
    		</thead>
    		<tbody>
    			{{#each publicleagues}}
			    <tr id="publicleagues">
			      <td>{{leaguename}}</td>
			      <td>{{players.length}}</td>
			      <td>{{public}}</td>
			    </tr>
			    {{/each}}
    		</tbody>
	</table>
</div>
</div>





</div>





</template>

<template name='leaguesCreate'>
{{> navbar}}
<div class="container" style="padding-top:3em">
<div class="row">
<h2>Create a League</h2>
<p>By creating a league, you are also joining this league!</p>
<div class="col-md-4">
<form class="createleague" id="createleague">
<fieldset class="form-group">
<label for="leaguename">League name</label>
<input type="text" id="leaguename" class="form-control" name="leaguename" placeholder="My Awesome League">
</fieldset>
<fieldset class="form-group" style="padding-top:1em;">
<h5>Game Type</h5>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="true"> Public
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="false"> Private
</label>
</fieldset>

<fieldset class="form-group">
<label for="leaguepassword">League Password for Private Games</label>
<input type="text" id="leaguepassword" class="form-control" name="leaguepassword" placeholder="My League's Password">
</fieldset>



<button type="submit" class="btn btn-primary">Create</button>

</form>
</div>

</div>
</div>




</template>


<template name='league'><!-- THIS IS EACH LEAGUE PAGE !-->
{{> navbar}}
<div class="container" style="padding-top:3em">
<div class="row">
<h2>{{leaguename}}</h2>
<p>Created on: {{dateCreated}}</p>
<div class="col-md-10">

<table class="table table-hover">
		<thead>
    		<tr>
    		<th>Username</th>
    		<th>League Score</th>
    		<th>Team Name</th>
    		</tr>
    		</thead>
    		<tbody>
    			{{#each leaguemember}}
			    <tr id="publicleagues">
			      <td>{{profile.leagueusername}}</td>
			      <td></td>
			      <td id="teamprofile">{{getTeamName}}</td>
			    </tr>
			    {{/each}}
    		</tbody>
	</table>


</div>
<div class="col-md-2">
<div class="list-group">

  {{#if teamIncomplete}}
	{{#if isInLeague}}
  <button type="button" class="list-group-item" id="joinLeague">Join League</button>
  	{{/if}}
  {{else}}
  <button type="button" class="list-group-item btn-secondary" id="gotoTeam">Please Finish your Team!</button>
  {{/if}}
   {{#if isOwner}}
  <button type="button" class="list-group-item" id="deleteLeague">Delete League</button>
  {{/if}}
  <!--
  <button type="button" class="list-group-item">Morbi leo risus</button>
  <button type="button" class="list-group-item">Porta ac consectetur ac</button>
  <button type="button" class="list-group-item">Vestibulum at eros</button>!-->
</div>
</div>
</div>

</div>


</template>



<template name='joinleague'>
{{> navbar}}
<div class="container" style="padding-top:3em">
<div class="row">

<h2>Join a League</h2>

<div class="row">
<div class="col-md-6">
<h5>Join by League ID</h5>
<form id="joinLeagueId">
<fieldset class="form-group">
<input type="text" id="leagueid" name="leagueid" placeholder="SBsKEtB09x7EPsqsr" class="form-control">
</fieldset>
<button type="submit" class="btn btn-primary">Join</button>
<p>{{message}}</p>
</form>
</div>


</div>

</div>

</div>


</template>